.LoaderSquid1{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -50px;
    width: 20px;
    height: 50px;
    border-radius: 50px;
    background-color: #9546af;
    opacity: 0.5;
    animation: ls1 1s infinite ease-in-out alternate;
    animation-delay: 0s;
}

.LoaderSquid2{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -20px;
    width: 20px;
    height: 50px;
    border-radius: 50px;
    background-color: #9546af;
    opacity: 0.5;
    animation: ls2 1s infinite ease-in-out alternate;
    animation-delay: 0.5s;
}

.LoaderSquid3{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: 10px;
    width: 20px;
    height: 50px;
    border-radius: 50px;
    background-color: #9546af;
    opacity: 0.5;
    animation: ls3 1s infinite ease-in-out alternate;
    animation-delay: 1s;
}

@keyframes ls1 {
    50%{
        background-color: #263bb0;
    }
    100%{
        opacity: 0.9;
    }

}

@keyframes ls2 {
    50%{
        background-color: #263bb0;
    }
    100%{
        opacity: 0.9;
    }

}

@keyframes ls3 {
    50%{
        background-color: #263bb0;
    }
    100%{
        opacity: 0.9;
    }

}
.Loader{
    position: absolute;
    display: flex ;
    flex-direction: row ;
    align-items: center;
    background-color: rgba(255, 255, 255,0.0);
    min-height: 100vh !important;
    width: 100%;
    bottom:0px;
    right: 0px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: wait;
}

.MiniLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: wait;
}

.MiniLoaderXXL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 2px solid #9546af ;
    border-radius: 50%;
    animation: mimiloaderXXl 2s infinite ease;
    opacity: 0.9;
}



.MiniLoaderXL{
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #9546af ;
    border-radius: 50%;
    animation: mimiloaderXXl 2s infinite ease;
    animation-delay: 0.2s;
    opacity: 0.9;
}


.MiniLoaderL{
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #9546af ;
    border-radius: 50%;
    animation: mimiloaderXXl 2s infinite ease;
    animation-delay: 0.4s;
    opacity: 0.9;
}

@keyframes mimiloaderXXl{
    100%{
        width: 30px;
        height: 30px;
        border-color:#263bb0;
        opacity:0;
    }
}


.ContinerLoader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}