.portfoliosetingcustomername{
    display: flex;
    flex-direction: column;

}
.portfoliosetingcustomername p{
    font-family: 'peydaMedium';
    color: #fff;
    text-align: end;
    font-size: 0.8rem;
    margin: 5px 5px;
}
.portfoliosetingcustomername input{
    height: 25px;
    font-family: 'peydaMedium';
    font-size: 0.8rem;
    text-align: right;
    overflow: hidden;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 12px;
}

.portfoliosetingcustomername option:hover{
    font-family:'peydaRegular' ;
    font-size: 0.9rem;
    background-color: blue;
}

.portfolisetingtab{
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content: center;

}
.portfolisetingtab button{
    width:50%;
    height:30px;
    border-radius: 20px;
    background: transparent;
    border: 1px #fff solid;
    font-family: 'peydaRegular';
    color: #fff;

}
.portfolisetingtabbtnclck{
    border: 1px solid #22388a !important;
    background-color: #fff !important;
    color: #22388a !important;
}

.portfolisetingdate{
    display: flex;
    flex-direction:column;
    margin-top:20px;
    font-family: 'peydaRegular';
    overflow: hidden;
    
}

.portfolisetingdatetitle{
    text-align: end;
    color: #fff;
    font-family: 'peydaRegular';
    font-size:0.85rem;
    margin-right: 5px;
}

.portfolisetingdateinput{
    height:25px;
    border-radius: 20px;
    border: 0px;
    width: 100%;
    text-align: center;
    font-family:'peydaRegular';
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);

}