.StocksOption{
    display:flex;
    flex-direction:column;
    position: absolute;
    width:210px; /*total = 250w - 20*2padding  */
    background-image: linear-gradient(to bottom, #9b3cac, #263bb0);
    border-radius: 15px;
    right:60px;
    top:590px;
    padding:20px 20px;
}

.StocksOption label{
    font-family: 'peydaRegular';
    text-align:right;
    color: #fff;
    margin-top: 20px;
}

.StocksOption>select{
    text-align: right;
    height: 25px;
    border: 0px;
    border-radius: 15px;
    font-family:'peydaRegular';
    background-color: #e7d8ef
}

.custom-input{
    border: 0px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    font-family:'peydaRegular';
    background-color: #e7d8ef;
}

.StocksOption>input{
    border: 0px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    font-family:'peydaRegular';
    background-color: #e7d8ef;
}

.StocksDownloadBox{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    justify-content: space-around;
}

.StocksDownloadBox>button{
    margin: 0px 10px;
    width: 45px;
    height: 20px;
    border-radius: 10px;
    border: 0px;
    background-color: #e7d8ef;
    font-family: 'peydaRegular';
}