.StocksDitailsShortData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}
.StocksDitailsShortData>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StocksDitailsShortData>div>p{
    font-family: 'peydaRegular';
    color: #384bb4;
}
.Details>table{
    width: 100%;
    text-align: right;
}

.Details>table>thead{
    font-family: 'peydaMedium';
    color: #384bb4;
}

.Details>table>tbody{
    font-family: 'peydaRegular';
    color: #6d77c2;
}
.tabulator-header{
    font-family: 'peydaMedium';
}
.tabulator-cell	{
    font-family: 'peydaRegular'
}
@import  "tabulator-tables";
