.Details>table{
    width: 100%;
    text-align: right;
}

.Details>table>thead{
    font-family: 'peydaMedium';
    color: #384bb4;
}

.Details>table>tbody{
    font-family: 'peydaRegular';
    color: #6d77c2;
}
.tabulator-header{
    font-family: 'peydaMedium';
}
.tabulator-cell	{
    font-family: 'peydaRegular'
}
@import  "tabulator-tables";
