.aside>h3{
    color: #a1a0be;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-family: 'peydaRegular';
}
.stocksTheader{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    font-family: 'peydaMedium';
    color: #3c4eb8;
    margin-bottom:10px;
}

.StocksTbody{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    font-family:'peydaRegular';
    color: #5060be;
    margin: 5px 0px;
    height: 35px;
    align-items: center;
    font-size: 0.9rem;
}

.StocksTname{
    width:17%;
    overflow: hidden ;
    text-align: right;
    font-family: 'peydaMedium';
}
.StocksTbody>.StocksTname{
    cursor: pointer;
}

.StocksTvolume{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    text-align: center;
}

.StocksTprice{
    width:80px;
}
.StocksTprice>p{
    text-align: right;
}
.StocksTbalance{
    width:80px;
    text-align: right;
}
.StocksTbehavior{
    width:60px;
    display:flex;
    justify-content: center;
}
.stocksTbar{
    background-image: linear-gradient(to left,#263bb0 ,#9a3cab);
    color:white;
    font-size:0.9rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
}

.StocksTinfo button{
    color: #5060be;
    background-color: transparent;
    border: 0px;
    font-family: 'peydaRegular';
    font-size: 0.8rem;
    cursor: pointer;
}

.StocksTbehavior button {
    font-family: 'peydaRegular';
    color:#5060bd;
    border: 2px solid transparent;
    font-size: 0.7rem;
    width:55px;
    height:25px;
    border-radius: 15px;
    background-color: transparent;
    background: 
    linear-gradient(to right, white, white), 
    linear-gradient(to right, #2d41fd , #c63ef1); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    cursor: pointer;
}
.StocksTbody>.StocksTprice{
    font-size: 0.7rem;
    color: #5060be;
}
.StocksTbody>.StocksTbalance{
    font-size: 0.7rem;
    color: #5060be;
}
.StocksDateLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ContinerLoader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}