.UpdateStocks{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 1px solid #f7f6f6;
    border-radius: 35px;
    padding: 35px;
}
.UpdateStocks>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.UpdateStocks>div>h3{
    text-align: center;
    font-family: 'peydaExtraBold';
    color: #394cb5;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.UpdateStocks>div>div{
    border: 1px solid #f7f6f6;
    padding: 25px 35px;
    border-radius: 20px;
}
.UpdateStocks>div>div>label{
    font-family:'peydaMedium';
    color: #394bb5;
    font-size: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items:end;
    margin: 10px;
}
.UpdateStocks>div>button{
    background-image: linear-gradient(to left, #9b3cac, #263bb0);
    width: 80px;
    height: 25px;
    font-family: 'peydaRegular';
    border: 0px;
    font-size: 1rem;
    color:#fff;
    border-radius: 15px;
    margin: 10px;
    align-self: flex-start;

}
.updateBulletin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    }

.updateBulletin>div{
    padding: 25px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid #eee9e9;
}

.updateBulletin>div:first-child{
    border-left:0px;

}

.updateBulletin>div>span{
    font-family: 'peydaRegular';
    color: #384bb4;
}
.updateBulletin>div>h2{
    color: #6d77c2;
    font-family: 'peydaMedium';
    font-size: 1rem;
    margin-top: 10px;
}

.UnavailableMsg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.UnavailableMsg>span{
    margin:0px 5px;
}

