.Dashboard{
    display: flex;
    flex-direction: column;
    background-color:transparent !important;
}

.Dashboard>div{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    align-content: space-between;

}

.DashbnoardCodal{
    display:flex;
    flex-direction: column;
    font-style: normal;
    align-items: flex-end;
    font-family: 'peydaThin';
    border-bottom: 1px solid #f2efef;
    border-radius: 15px;
    padding: 15px;
    width:40%;

}

.DashbnoardCodal>a{
    font-style: normal;
    color: #394bb5;
    text-decoration: none;
    text-align: right;
}