.DashboardTopToday{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.DashboardTopToday>div{
    display: flex;
    width: 46%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f0f0;
    border-radius: 15px;
    padding: 5px;
    margin: 0px 20px;

}
.DashboardTopToday>div>h6{
    font-family: 'peydaMedium';
    font-size: 1.2rem;
    color: #394bb4;
}
.DashboardRow2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap-reverse;

}
.DashboardRow2>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #f3f0f0;
    padding: 0px 40px;
    width: 250px;
    height:100px;
}

.DashboardRow2>div:last-child{
    border:0px !important;
}

.DashboardRow2>div>h5{
    font-family: 'peydaMedium';
    font-size: 1.1rem;
    color: #394bb4;
}


.DashboardRow2 tbody td{
    font-family: 'peydaRegular';
    color: #6b76bf;
    width:80px;
    text-align: right;
}
