.portfoliupdatecontiner label{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
}

.portfoliupdatecontinerform{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 15px;

}
.portfoliupdatecontinerform input{
    text-align: right;
    font-family: 'peydalight';
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
}

.portfoliupdatecontinerform select{
    text-align: right;
    font-family: 'peydalight';
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
}

